{% extends 'inc/layout.inc' %}

{% block content %}
	<!--slider-->
	<div class="slider">
		<ul id="hero-gallery" class="cS-hidden">
			<li data-thumb="inc/images/uploads/slider.jpg">
				<img src="inc/images/uploads/slider-my-blue-finder.jpg" alt="" />
			</li>
		</ul>
	</div>
	<!--//slider-->

	{% include 'inc/search.inc' %}

	<!--main-->
	<main class="main">
		<div class="wrap">
			<div class="row">
				<div class="full-width">

					{% include 'inc/destinations.inc' %}

					{% include 'inc/marinas.inc' %}

					{#
					<header class="s-title">
						<h2>Top destinations around the world</h2>
					</header>

					<!--top destinations-->
					<div class="destinations">
						<div class="row">
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Paris</h4>
									<span class="count">1529 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Amsterdam</h4>
									<span class="count">929 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>St Petersburg</h4>
									<span class="count">658 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Prague</h4>
									<span class="count">829 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Prague</h4>
									<span class="count">829 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth promo">
								<div class="ribbon-small">- 20%</div>
								<figure><a href="hot_deals.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="hot_deals.html" title="View all" class="gradient-button">View all</a>
									<h4>Paris</h4>
									<span class="count">1529 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Amsterdam</h4>
									<span class="count">929 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>St Petersburg</h4>
									<span class="count">658 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>St Petersburg</h4>
									<span class="count">658 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Prague</h4>
									<span class="count">829 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Paris</h4>
									<span class="count">1529 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->

							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="inc/images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Amsterdam</h4>
									<span class="count">929 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
						</div>
					</div>
					<!--//top destinations-->
					#}


					<!--info boxes-->
					<div class="boxes">
						<div class="row">
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Handpicked Hotels</h4>
								<p>All Book Your Travel Hotels fulfil strict selection criteria. Each hotel is chosen individually and inclusion cannot be bought. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Detailed Descriptions</h4>
								<p>To give you an accurate impression of the hotel, we endeavor to publish transparent, balanced and precise hotel descriptions. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Exclusive Knowledge</h4>
								<p>We’ve done our research. Our scouts are always busy finding out more about our hotels, the surroundings and activities on offer nearby.</p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Passionate Service</h4>
								<p>Book Your Travels’s team will cater to your special requests. We offer expert and passionate advice for finding the right hotel. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Best Price Guarantee</h4>
								<p>We offer the best hotels at the best prices. If you find the same room category on the same dates cheaper elsewhere, we will refund the difference. Guaranteed, and quickly. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Secure Booking</h4>
								<p>Book Your Travel reservation system is secure and your credit card and personal information is encrypted.We work to high standards and guarantee your privacy. </p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Benefits for Hoteliers</h4>
								<p>We provide a cost-effective model, a network of over 5000 partners and a personalised account management service to help you optimise your revenue.</p>
							</div>
						</article>
						<!--//column-->

						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Any Questions?</h4>
								<p>Call us on <em>1-555-555-555</em> for individual, tailored advice for your perfect stay or <a href="contact.html" title="Contact">send us a message</a> with your hotel booking query.</p>
							</div>
						</article>
						<!--//column-->
					</div>
				</div>
					<!--//info boxes-->
				</div>
			</div>
		</div>
	</main>
	<!--//main-->
{% endblock %}
